@import '../abstracts/utilities';

.s-sector {
    overflow: hidden;

    &__first {
        position: relative;
        padding: 9.5rem 0 24rem;
        background-color: #3DD4DE;
        overflow: hidden;

        .wrapper {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        span {
            &:first-of-type {
                font-size: 2.8rem;
                font-weight: 700;
                text-transform: uppercase;
            }

            &:last-of-type {
                font-size: 15.4rem;
                font-weight: 800;
                color: #3DD4DE;
                text-shadow: 0 0 .5rem #000;
                cursor: default;
                position: relative;
                z-index: 1;

                &::after, &::before {
                    position: absolute;
                    top: 0;
                    width: 100vw;
                    color: #64DDE5;
                    text-shadow: none;
                    white-space: nowrap;
                    z-index: -1;
                    // animation: scrollText 15s linear infinite;
                }

                &::after {
                    left: 0;
                }

                &::before {
                    width: fit-content;
                    left: -33%;

                    @include max (900) {
                        left: -33rem;
                    }
                }
            }
        }

        article {
            font-size: 2rem;
            font-weight: 500;
            line-height: 3.6rem;
            white-space: break-spaces;
        }
    }

    &__sectors {
        display: flex;
        gap: 4.5rem;
        margin-top: -17rem;
        position: relative;
        
        @include max (900) {
            flex-direction: column;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        padding: 4.5rem 2.5rem 3rem;
        border-radius: 3rem;
        gap: 2.2rem;

        span {
            display: flex;
            align-items: center;
            font-size: 3rem;
            font-weight: 800;
            color: #fff;
            text-transform: uppercase;
            margin-bottom: 2.6rem;
            line-height: 4rem;

            @include max (900) {
                justify-content: space-between;
            }
        }

        & > figure {
            border-radius: 4rem;
            overflow: hidden;
            aspect-ratio: 277/377;
            width: 100%;
            height: 100%;

            @include max (900) {
                aspect-ratio: initial;
                max-height: 50rem;
            }

            @include max (500) {
                max-height: 30rem;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        & > article {
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 2rem;
            color: #fff;
        }

        & > a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            font-size: 2rem;
            font-weight: 800;
            text-transform: uppercase;
            color: #fff;
            padding: 1.5rem;
            border-radius: 3rem;
        }
    }
}

.sustentabilidade {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 1171px;

    &__map {
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 20rem;

        &-effect {
            position: relative;
            width: 100%;
            height: fit-content;
            
            filter: grayscale(100%);
            transition: filter 1s ease;

            img {
                width: 100%;
                max-height: 100%;
                aspect-ratio: 531/289;
            }
        }
    }

    &__texto {
        position: absolute;
        z-index: 1;
        
        span {
            font-size: 8rem;
            font-weight: 900;
            text-align: center;
            text-transform: uppercase;

            position: absolute;
            top: 12rem;
            left: 50%;
            transform: translateX(-50%);

            &:first-of-type {
                z-index: 2;
                color: #000;
                clip-path: inset(0 100% 0 0);
            }

            &:last-of-type {
                z-index: 1;
                color: #B2B2B2;
            }

            @include max (900) {
                font-size: 5rem;
            }
    
            @include max (600) {
                font-size: 3rem;
            }
        }
    }

    &__ajudar {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        align-items: center;

        @include max (1100) {
            margin-top: 5rem;
        }

        article {
            font-size: 1.8rem;
            font-weight: 500;
            max-width: calc(50% - 2rem);
            width: 100%;

            @include max (1100) {
                max-width: 100%;
            }

            h2 {
                font-size: 3.6rem;
                font-weight: 800;
                color: #EA2843;
                text-transform: uppercase;
                margin-bottom: 3.4rem;

                @include max (900) {
                    font-size: 2.6rem;
                }
            }

            ul {
                list-style-image: url('../img/checklist.webp');
                margin-left: 3.5rem;

                li:not(:last-of-type) {
                    margin-bottom: 3.3rem;
                }
            }
        }

        figure {
            max-width: calc(50% - 2rem);
            width: 100%;
            display: flex;

            @include max (1100) {
                max-width: 100%;
                justify-content: center;
            }
        }
    }
}

.atuacao {
    background-color: #E2E2E2;
    padding: 2.9rem 0;
    overflow: hidden;

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 6rem;
    }
    
    &__head {
        display: flex;
        flex-direction: column;
        gap: 3.4rem;

        span {
            &:first-of-type {
                font-size: 3.6rem;
                font-weight: 700;
                text-transform: uppercase;
            }

            &:last-of-type {
                font-size: 10rem;
                font-weight: 800;
                color: #E2E2E2;
                text-shadow: 0 0 .5rem #000;
                cursor: default;
                position: relative;
                z-index: 1;

                &::after, &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    width: 100vw;
                    color: #fff;
                    text-shadow: none;
                    white-space: nowrap;
                    z-index: -1;
                    // animation: scrollText 15s linear infinite;
                }

                &::after {
                    left: 0;
                }

                &::before {
                    width: fit-content;
                    left: -33%;

                    @include max (900) {
                        left: -33rem;
                    }
                }
            }
        }
    }
}

.solucoes {
    border-radius: 3rem;
    padding: 3rem 7.4rem;
    min-height: 43.5rem;
    margin: 15rem auto;
    display: flex;
    align-items: center;

    background-position: center;
    background-size: cover;

    @include max (900) {
        background-position: center center;
        padding: 2rem;
        min-height: 25rem;

        margin: 7rem auto;
    }

    article {
        max-width: 44.4rem;
        width: 100%;
        font-size: 2.4rem;
        font-weight: 800;
        line-height: 3.6rem;
        color: #fff;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        gap: 4.6rem;

        @include max (900) {
            max-width: 100%;
            font-size: 2rem;
            line-height: 2.8rem;
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #FF9900;
            border-radius: 5rem;
            font-size: 2rem;
            line-height: 1;
            padding: 2.9rem;
            white-space: nowrap;

            @include max (900) {
                font-size: 1.4rem;
                padding: 2rem;
            }
        }
    }
}

.slider {
    margin-bottom: 10rem;
}

.certificacoes {
    background-color: #F1F1F1;

    .wrapper {
        margin: 5.2rem auto;

        display: flex;
        flex-direction: column;
        gap: 5rem;
    }

    .slider__images {
        gap: 1.2rem;
    }
}